firstproject/.vs/firstproject/v16/.suo
firstproject/.vs/firstproject/v16/Browse.VC.db
firstproject/.vs/firstproject/v16/Browse.VC.db-shm
firstproject/.vs/firstproject/v16/Browse.VC.db-wal
firstproject/.vs/firstproject/v16/Browse.VC.opendb
firstproject/.vs/firstproject/v16/ipch/AutoPCH/e0ce2c3bbb78b244/源.ipch
firstproject/.vs/firstproject/v16/ipch/AutoPCH/f1fbd1d1a246ddcb/MAIN.ipch
firstproject/.vs/firstproject/v16/ipch/AutoPCH/f2201d52fb5be71/MAIN2.ipch
firstproject/.vs/firstproject/v16/ipch/AutoPCH/f2a854636066efd2/MAIN.ipch
firstproject/Debug/firstproject.pdb
firstproject/firstproject/firstproject.vcxproj
firstproject/firstproject/firstproject.vcxproj.filters
firstproject/firstproject/firstproject.vcxproj.user
firstproject/firstproject/Debug/firstproject.log
firstproject/firstproject/Debug/glad.obj
firstproject/firstproject/Debug/main.obj
firstproject/firstproject/Debug/vc142.idb
firstproject/firstproject/Debug/vc142.pdb
firstproject/firstproject/Debug/firstproject.tlog/CL.command.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/CL.read.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/CL.write.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/firstproject.lastbuildstate
firstproject/firstproject/Debug/firstproject.tlog/link.command.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link.read.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link.write.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link-cvtres.read.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link-cvtres.write.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link-rc.read.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/link-rc.write.1.tlog
firstproject/firstproject/Debug/firstproject.tlog/unsuccessfulbuild
firstproject/firstproject/x64/Debug/firstproject.exe.recipe
firstproject/firstproject/x64/Debug/firstproject.ilk
firstproject/firstproject/x64/Debug/firstproject.log
firstproject/firstproject/x64/Debug/glad.obj
firstproject/firstproject/x64/Debug/main.obj
firstproject/firstproject/x64/Debug/main2.obj
firstproject/firstproject/x64/Debug/vc142.idb
firstproject/firstproject/x64/Debug/vc142.pdb
firstproject/firstproject/x64/Debug/源.obj
firstproject/firstproject/x64/Debug/firstproject.tlog/CL.command.1.tlog
firstproject/firstproject/x64/Debug/firstproject.tlog/CL.read.1.tlog
firstproject/firstproject/x64/Debug/firstproject.tlog/CL.write.1.tlog
firstproject/firstproject/x64/Debug/firstproject.tlog/firstproject.lastbuildstate
firstproject/firstproject/x64/Debug/firstproject.tlog/link.command.1.tlog
firstproject/firstproject/x64/Debug/firstproject.tlog/link.read.1.tlog
firstproject/firstproject/x64/Debug/firstproject.tlog/link.write.1.tlog
firstproject/x64/Debug/firstproject.exe
firstproject/x64/Debug/firstproject.pdb
firstproject/.vs/firstproject/v16/ipch/AutoPCH/8e669104d3a13c15/SHADERS_CLASS.ipch
firstproject/firstproject/firstproject.aps
firstproject/firstproject/x64/Debug/firstproject.Build.CppClean.log
firstproject/firstproject/x64/Debug/firstproject.vcxproj.FileListAbsolute.txt
firstproject/firstproject/x64/Debug/shaders_class.obj
